<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      ul {
        list-style-type: none;
      }
      li {
        display: inline-block;
        padding: 10px;
      }
      li a {
        text-decoration: none;
        color: black;
      }
      li a:hover {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Welcome To Home Page</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur
      libero atque quis sint a necessitatibus repellat totam tempore vero.
    </p>
  </body>
</html>
